.flex-container {
    display: flex;
    justify-content: center;
    width: 300px;
  }

.dataResult {
    margin-top: 5px;
    width: 300px;
    height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
}

.dataResult .dataItem {
    width: 5%;
    height: 5px;
    display: flex;
    align-items: center;
    color: black;
}

.dataItem p {
    margin-left: 10px;
}
a {
    text-decoration:none;
}

a:hover {
    background-color: lightgrey;
}

#clearBtn {
    cursor: pointer;
}